

.footer {
    position: unset !important;
    bottom: unset !important;
}

@media (min-width: 1024px) {
    #id-table {
        width: 100% !important;
    }

}


.dataTables_scroll {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.custom-link{
    padding-bottom: 2.5rem;
}