@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center custom-container1-img">
    <h1 class="display-4">Empréstimos online</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div class="custom-container2-img">
        <img src="/img/img1.png" class="img-fluid" style="max-width: 40%;" alt="Book stack" /> 
    </div>
</div>